.slider_container1 {
    display: flex;
    position: absolute;
    left: 56%;
    top: 53%;
    font-size: 18px;
  }
  
  .slider_container2 {
    display: flex;
    position: absolute;
    left: 56%;
    top: 63%;
    font-size: 18px;
  }
  
  .slider1 {
    position: relative;
    left: 78px;
  }
  
  .slider2 {
    position: relative;
    left: 15px;
  }